/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Reset Finish */

.body {
  display: flex;
  flex-direction: row;

  height: 100vh;
}

.sidebar {
  width: 230px;
  background-color: crimson;
}

.visible {
  visibility: visible;
}

.game-logo {
  width: 90%;
  height: 90px;
  margin: 11px;

  color: white;
  font-weight: 800;
  font-size: 1.7rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid white;
  border-radius: 30px;
}

hr {
  border: none;
  border-top: 3px dotted white;
  width: 60%;
  margin: 20px;
  align-self: center;
  justify-self: center;
}

.boards-container {
  background-color: bisque;
  flex-grow: 100;
  display: flex;
  flex-direction: row;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 100;

  align-items: center;
  justify-content: center;

  /* border: 1px solid black; */
}

.board-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.7rem;
  font-weight: 600;
}

.board-one,
.board-two {
  /* 11x11 grid, incl. labels */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 1px;

  /* border: 1px solid cornflowerblue; */
  width: 500px;
  aspect-ratio: 1/1;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border: 1px solid #333;
  cursor: pointer;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  /* border: 1px solid #333; */
}

.miss {
  background-color: crimson;
}

.hit {
  background-color: lightgreen;
}

.victory-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.victory-message {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
}

.footer {
  height: 20px;
  background-color: #002b36;

  font-size: 0.7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fdf6e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  text-decoration: none;
  color: cornflowerblue;
}

.footer a:hover {
  color: plum;
}
