/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Reset Finish */

@import url("https://fonts.googleapis.com/css?family=Inter:400|Jura:400");

:root {
  --fontWhite: #f7f8f8;
  --fontYellow: #eec763;
}

* {
  font-family: "Jura";
}

.body {
  display: flex;
  flex-direction: row;

  height: 100vh;
}

.sidebar {
  width: 300px;
  min-width: 300px;
  background-color: #000;

  border-right: 1px solid var(--fontWhite);
}

.visible {
  visibility: visible;
}

.game-logo {
  width: 90%;
  height: 90px;
  margin: 11px;

  color: var(--fontYellow);
  font-weight: 800;
  font-size: 1.7rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--fontWhite);
  border-radius: 30px;
}

hr {
  border: none;
  border-top: 3px dotted var(--fontWhite);
  width: 60%;
  margin: 20px;
  align-self: center;
  justify-self: center;
}

.ship-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  height: auto;
  padding: 20px 0px 20px 0px;
  border: 1px solid var(--fontWhite);

  align-self: center;
  justify-self: center;
}

.draggable-ship {
  display: inline-flex;
  justify-content: center;
  cursor: move;
  margin: 5px 20px 5px 20px;
  gap: 1px;
  user-select: none;
  width: fit-content;
}

.draggable-ship.vertical {
  flex-direction: column;
}

.rotate-button {
  border: 1px solid var(--fontWhite);
  background-color: #1a1a1d;
  color: white;
  cursor: pointer;

  margin-top: 20px;
  width: 200px;
  height: 30px;
  padding: 0 5px 2px 76px;

  display: flex;
  align-items: center;

  transition: 0.3s;
}

.rotate-button:hover {
  background-color: #3c3c3c;
  transition: 0.3s;
}

.rotate-kbd {
  margin-left: auto;
  margin-top: 2px;
  border: 1px solid #d9dbe1;
  height: 20px;
  aspect-ratio: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.8rem;
}

.dragging {
  opacity: 0.5;
}

.drag-over {
  background-color: pink !important;
}

.ship-cell {
  width: 44.55px;
  aspect-ratio: 1;
  border: 1px solid var(--fontWhite);
  background-color: #1a1a1d;
  font-weight: 800;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.boards-container {
  background-color: bisque;
  flex-grow: 100;
  display: flex;
  flex-direction: row;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 100;

  align-items: center;
  justify-content: center;

  background-color: #08090a;
  position: relative;
}

.board-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.7rem;
  font-weight: 600;

  padding-left: 48px;

  color: var(--fontWhite);
}

.board-one,
.board-two {
  /* 11x11 grid, incl. labels */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 1px;

  width: 500px;
  aspect-ratio: 1/1;

  color: var(--fontYellow);
  font-size: 1.2rem;

  position: relative;
}

.board-two-overlay {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: calc(100% - 44px);
  height: calc(100% - 44px);
  background-color: rgba(0, 0, 0, 0.85);
  /* backdrop-filter: blur(1px); */
  z-index: 1000;
}

.ship {
  color: var(--fontWhite);
  font-weight: 800;
  font-size: 1.5rem;
}

.ship.hit {
  color: #1a1a1d;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border: 1px solid var(--fontWhite);
  background-color: #1a1a1d;
}

.player:hover {
  background-color: #333233;
}

.enemy-active:hover {
  background-color: #dc322f;
  cursor: pointer;
}

.tooltip {
  height: 36px;
  width: 70px;
  border: 1px solid var(--fontYellow);
  background-color: #1a1a1d;
  color: var(--fontYellow);

  position: fixed;
  padding: 5px 10px;
  display: none;
  pointer-events: none;
  z-index: 1000;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  /* border: 1px solid #333; */
}

.miss {
  background-color: crimson;
  cursor: default;
}

.hit {
  background-color: lightgreen;
  cursor: default;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.game-start-message {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
}

.victory-message {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
}

.footer {
  height: 20px;
  background-color: #000;

  font-size: 0.7rem;
  color: #fdf6e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  text-decoration: none;
  color: cornflowerblue;
}

.footer a:hover {
  color: plum;
}
